@import 'normalize.css';
@import './login.scss';

/* base */
html,
body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Helvetica', 'Arial', 'PingFang SC', 'Microsoft YaHei',
    sans-serif;
}

body {
  overflow-x: auto;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #d8d8d8;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-track {
    border-radius: 3px;
    box-shadow: inset 0 0 2px rgba($color: #000000, $alpha: 0.2);
    background: #ffffff;
  }
}

*,
:after,
:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
}

li {
  list-style-type: none;
}

[tabindex] {
  outline: none;
}

a {
  text-decoration: none;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
